@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  outline: none;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

video {
  width: 100%;
}

iframe {
  display: block;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

pre {
  background: #eee;
  color: black;
  z-index: 9999;
  padding: 20px 20px 20px 60px;
  white-space: pre-wrap;
  font-family: Monaco;
  border-left: 5px solid orange;
  line-height: 1.3;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  transition: all 0.5s ease-out;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.o-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class*=o-col-] {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

[class*=o-col-xs-] {
  width: 100%;
}

.o-col-xs-1 {
  width: 8.33%;
}

.o-col-xs-2 {
  width: 16.66%;
}

.o-col-xs-3 {
  width: 25%;
}

.o-col-xs-4 {
  width: 33.33%;
}

.o-col-xs-5 {
  width: 41.66%;
}

.o-col-xs-6 {
  width: 50%;
}

.o-col-xs-7 {
  width: 58.33%;
}

.o-col-xs-8 {
  width: 66.66%;
}

.o-col-xs-9 {
  width: 75%;
}

.o-col-xs-10 {
  width: 83.33%;
}

.o-col-xs-11 {
  width: 91.66%;
}

.o-col-xs-12 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .o-col-sm-1 {
    width: 8.33%;
  }
  .o-col-sm-2 {
    width: 16.66%;
  }
  .o-col-sm-3 {
    width: 25%;
  }
  .o-col-sm-4 {
    width: 33.33%;
  }
  .o-col-sm-5 {
    width: 41.66%;
  }
  .o-col-sm-6 {
    width: 50%;
  }
  .o-col-sm-7 {
    width: 58.33%;
  }
  .o-col-sm-8 {
    width: 66.66%;
  }
  .o-col-sm-9 {
    width: 75%;
  }
  .o-col-sm-10 {
    width: 83.33%;
  }
  .o-col-sm-11 {
    width: 91.66%;
  }
  .o-col-sm-12 {
    width: 100%;
  }
  .o-col-sm-offset-1 {
    margin-left: 8.33%;
  }
  .o-col-sm-offset-2 {
    margin-left: 16.66%;
  }
  .o-col-sm-offset-3 {
    margin-left: 25%;
  }
  .o-col-sm-offset-4 {
    margin-left: 33.33%;
  }
  .o-col-sm-offset-5 {
    margin-left: 41.66%;
  }
  .o-col-sm-offset-6 {
    margin-left: 50%;
  }
  .o-col-sm-offset-7 {
    margin-left: 58.33%;
  }
  .o-col-sm-offset-8 {
    margin-left: 66.66%;
  }
  .o-col-sm-offset-9 {
    margin-left: 75%;
  }
  .o-col-sm-offset-10 {
    margin-left: 83.33%;
  }
  .o-col-sm-offset-11 {
    margin-left: 91.66%;
  }
}
@media only screen and (min-width: 992px) {
  .o-col-md-1 {
    width: 8.33%;
  }
  .o-col-md-2 {
    width: 16.66%;
  }
  .o-col-md-3 {
    width: 25%;
  }
  .o-col-md-4 {
    width: 33.33%;
  }
  .o-col-md-5 {
    width: 41.66%;
  }
  .o-col-md-6 {
    width: 50%;
  }
  .o-col-md-7 {
    width: 58.33%;
  }
  .o-col-md-8 {
    width: 66.66%;
  }
  .o-col-md-9 {
    width: 75%;
  }
  .o-col-md-10 {
    width: 83.33%;
  }
  .o-col-md-11 {
    width: 91.66%;
  }
  .o-col-md-12 {
    width: 100%;
  }
  .o-col-md-offset-1 {
    margin-left: 8.33%;
  }
  .o-col-md-offset-2 {
    margin-left: 16.66%;
  }
  .o-col-md-offset-3 {
    margin-left: 25%;
  }
  .o-col-md-offset-4 {
    margin-left: 33.33%;
  }
  .o-col-md-offset-5 {
    margin-left: 41.66%;
  }
  .o-col-md-offset-6 {
    margin-left: 50%;
  }
  .o-col-md-offset-7 {
    margin-left: 58.33%;
  }
  .o-col-md-offset-8 {
    margin-left: 66.66%;
  }
  .o-col-md-offset-9 {
    margin-left: 75%;
  }
  .o-col-md-offset-10 {
    margin-left: 83.33%;
  }
  .o-col-md-offset-11 {
    margin-left: 91.66%;
  }
}
@media only screen and (min-width: 1200px) {
  .o-col-lg-1 {
    width: 8.33%;
  }
  .o-col-lg-2 {
    width: 16.66%;
  }
  .o-col-lg-3 {
    width: 25%;
  }
  .o-col-lg-4 {
    width: 33.33%;
  }
  .o-col-lg-5 {
    width: 41.66%;
  }
  .o-col-lg-6 {
    width: 50%;
  }
  .o-col-lg-7 {
    width: 58.33%;
  }
  .o-col-lg-8 {
    width: 66.66%;
  }
  .o-col-lg-9 {
    width: 75%;
  }
  .o-col-lg-10 {
    width: 83.33%;
  }
  .o-col-lg-11 {
    width: 91.66%;
  }
  .o-col-lg-12 {
    width: 100%;
  }
  .o-col-lg-offset-1 {
    margin-left: 8.33%;
  }
  .o-col-lg-offset-2 {
    margin-left: 16.66%;
  }
  .o-col-lg-offset-3 {
    margin-left: 25%;
  }
  .o-col-lg-offset-4 {
    margin-left: 33.33%;
  }
  .o-col-lg-offset-5 {
    margin-left: 41.66%;
  }
  .o-col-lg-offset-6 {
    margin-left: 50%;
  }
  .o-col-lg-offset-7 {
    margin-left: 58.33%;
  }
  .o-col-lg-offset-8 {
    margin-left: 66.66%;
  }
  .o-col-lg-offset-9 {
    margin-left: 75%;
  }
  .o-col-lg-offset-10 {
    margin-left: 83.33%;
  }
  .o-col-lg-offset-11 {
    margin-left: 91.66%;
  }
}
.o-container-fluid {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 992px) {
  .o-container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.o-container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 992px) {
  .o-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.o-text-center {
  text-align: center;
}

.o-pull-right {
  float: right !important;
}

.font-size--p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.9375rem, 0.6774412297rem + 0.0054249548 * 100vw, 1.125rem);
  line-height: clamp(1.25rem, 0.8165687161rem + 0.0090415913 * 100vw, 1.5625rem);
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.9375rem, 0.6774412297rem + 0.0054249548 * 100vw, 1.125rem);
  line-height: clamp(1.25rem, 0.8165687161rem + 0.0090415913 * 100vw, 1.5625rem);
  font-weight: 400;
}

p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.9375rem, 0.6774412297rem + 0.0054249548 * 100vw, 1.125rem);
  line-height: clamp(1.25rem, 0.8165687161rem + 0.0090415913 * 100vw, 1.5625rem);
  font-weight: 400;
  margin-top: 15px;
}
p:first-child {
  margin-bottom: 0 !important;
}

.font-size--h1 {
  font-family: "Inter", sans-serif;
  font-size: clamp(1.75rem, -0.3304701627rem + 0.0433996383 * 100vw, 3.25rem);
  line-height: clamp(2.25rem, 0.5162748644rem + 0.0361663653 * 100vw, 3.5rem);
  font-weight: 700;
}

.font-size--h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(1.375rem, 0.1613924051rem + 0.0253164557 * 100vw, 2.25rem);
  line-height: clamp(2rem, 0.7863924051rem + 0.0253164557 * 100vw, 2.875rem);
  font-weight: 600;
}

.font-size--h3 {
  font-family: "Inter", sans-serif;
  font-size: clamp(1.25rem, 0.5565099458rem + 0.0144665461 * 100vw, 1.75rem);
  line-height: clamp(1.875rem, 0.6613924051rem + 0.0253164557 * 100vw, 2.75rem);
  font-weight: 600;
}

.o-text-editor h1 {
  font-family: "Inter", sans-serif;
  font-size: clamp(1.75rem, -0.3304701627rem + 0.0433996383 * 100vw, 3.25rem);
  line-height: clamp(2.25rem, 0.5162748644rem + 0.0361663653 * 100vw, 3.5rem);
  font-weight: 700;
  margin-top: 30px;
}
.o-text-editor h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(1.375rem, 0.1613924051rem + 0.0253164557 * 100vw, 2.25rem);
  line-height: clamp(2rem, 0.7863924051rem + 0.0253164557 * 100vw, 2.875rem);
  font-weight: 600;
  margin-top: 30px;
}
.o-text-editor h3 {
  font-family: "Inter", sans-serif;
  font-size: clamp(1.25rem, 0.5565099458rem + 0.0144665461 * 100vw, 1.75rem);
  line-height: clamp(1.875rem, 0.6613924051rem + 0.0253164557 * 100vw, 2.75rem);
  font-weight: 600;
  margin-top: 30px;
}
.o-text-editor p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.9375rem, 0.6774412297rem + 0.0054249548 * 100vw, 1.125rem);
  line-height: clamp(1.25rem, 0.8165687161rem + 0.0090415913 * 100vw, 1.5625rem);
  font-weight: 400;
  margin-top: 15px;
}
.o-text-editor *:first-child {
  margin-top: 0px !important;
}
.o-text-editor *:last-child {
  margin-bottom: 0px !important;
}
.o-text-editor strong {
  font-weight: 700;
}

.btn {
  padding: 0.5rem 1.25rem;
  border: none;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
}
.btn-primary {
  background-color: #1C3177;
  border: 1px solid #1C3177;
}
.btn-primary:hover {
  background-color: rgb(42.5714285714, 74.5, 180.9285714286);
  color: #ffffff;
}
.btn-secondary {
  background-color: #0E87EB;
  border: 1px solid #0E87EB;
}
.btn-secondary:hover {
  background-color: rgb(42.5714285714, 74.5, 180.9285714286);
  color: #ffffff;
}
.btn-line {
  color: #1C3177;
  background-color: #ffffff;
  border: 1px solid #1C3177;
}
.btn-line:hover {
  background-color: rgb(42.5714285714, 74.5, 180.9285714286);
  color: #ffffff;
}
.btn-large {
  padding: 0.5rem 2.5rem;
}

a {
  color: #1C3177;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
@media only screen and (min-width: 992px) {
  a:hover {
    color: #0E87EB;
  }
}

.hamburger-icon {
  padding: 0.625rem 0.625rem 0.625rem 0px;
  position: relative;
  z-index: 2;
}
.hamburger-icon__area {
  position: relative;
  display: block;
  width: 1.875rem;
  height: 1.25rem;
  cursor: pointer;
}
.hamburger-icon__span {
  position: absolute;
  right: 0;
  display: block;
  height: 0.1875rem;
  border-radius: 0.625rem;
  background-color: #000;
}
.hamburger-icon__span:nth-child(1) {
  top: 0;
  width: 80%;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
}
.hamburger-icon__span:nth-child(2) {
  top: 50%;
  width: 100%;
  margin-top: -0.0625rem;
}
.hamburger-icon__span:nth-child(3) {
  top: auto;
  bottom: 0;
  width: 60%;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
}
.hamburger-icon--collapse .hamburger-icon__span {
  height: 2px;
  background-color: #ffffff;
}
.hamburger-icon--collapse .hamburger-icon__span:nth-child(1) {
  top: 50%;
  width: 100%;
  margin-top: -0.0625rem;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: center center;
}
.hamburger-icon--collapse .hamburger-icon__span:nth-child(2) {
  background-color: transparent;
}
.hamburger-icon--collapse .hamburger-icon__span:nth-child(3) {
  top: 50%;
  width: 100%;
  margin-top: -0.0625rem;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform-origin: center center;
}

.body-fix {
  height: 100vh;
  overflow: hidden;
}

.o-side-menu {
  opacity: 0;
  position: fixed;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 1;
  background: rgb(8.5714285714, 15, 36.4285714286);
  color: #ffffff;
  padding: 2.5rem 1.25rem;
  transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.1s ease-in-out 0s;
}
.o-side-menu--visible {
  visibility: visible;
  opacity: 1;
}
.o-side-menu__nav ul li {
  margin-bottom: 0.9375rem;
}
.o-side-menu__nav ul li a {
  color: #ffffff;
}
.o-side-menu__nav ul li ul {
  margin-left: 1.25rem;
  margin-top: 0.9375rem;
}
.o-side-menu__dropdown {
  position: relative;
}
.o-side-menu__dropdown-button {
  width: 2rem;
  height: 1.25rem;
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.o-side-menu__dropdown-menu {
  display: none;
}
.o-side-menu__dropdown-menu--visible {
  display: block;
}
.o-side-menu__plus {
  display: block;
}
.o-side-menu__plus--hide {
  display: none;
}
.o-side-menu__subs {
  display: none;
}
.o-side-menu__subs--view {
  display: block;
}

.heroSlider__slide {
  height: 21.875rem;
}
@media only screen and (min-width: 992px) {
  .heroSlider__slide {
    height: 37.5rem;
  }
}
.heroSlider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 992px) {
  .heroSlider__next {
    margin-right: 0.625rem;
  }
}
.heroSlider__next::after {
  display: none;
}
@media only screen and (min-width: 992px) {
  .heroSlider__prev {
    margin-left: 0.625rem;
  }
}
.heroSlider__prev::after {
  display: none;
}
.heroSlider__content-area {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: grid;
  justify-content: center;
  align-content: center;
}

.o-swiper-gallery__slide {
  height: 21.875rem;
}
@media only screen and (min-width: 992px) {
  .o-swiper-gallery__slide {
    height: 31.25rem;
  }
}
.o-swiper-gallery__slide-sm {
  height: 9.375rem;
}
.o-swiper-gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dark-theme {
  color: #FFF;
  background-color: #1d1d1d;
}
.dark-theme a {
  color: #ddd;
}

.o-accordion__item {
  box-shadow: 0.0625rem 0.0625rem 1.25rem rgba(0, 0, 0, 0.1);
  margin-bottom: 0.625rem;
}
.o-accordion__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem;
  color: #1C3177;
  font-size: 0.9375rem;
  text-align: left;
  background-color: #ffffff;
  border: 0.0625rem solid #ffffff;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.o-accordion__content {
  max-height: 0;
  padding: 0 1.125rem;
  font-size: 0.9375rem;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  overflow: hidden;
}
.o-accordion__content-spacing {
  padding-bottom: 1.25rem;
}

.o-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.2509803922);
}
.o-modal__wrapper {
  position: relative;
  max-width: 37.5rem;
  margin: 1.75rem 1.25rem;
  background-color: #ffffff;
  border-radius: 5px;
}
@media only screen and (min-width: 992px) {
  .o-modal__wrapper {
    margin: 1.75rem auto;
  }
}
.o-modal__wrapper--lg {
  max-width: 62.5rem;
}
.o-modal__wrapper--md {
  max-width: 43.75rem;
}
.o-modal__wrapper--small {
  max-width: 25rem;
}
.o-modal__header {
  display: flex;
  justify-content: space-between;
  gap: 0.3125rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-bottom: 1px solid #E9ECEF;
}
.o-modal__title {
  color: #1C3177;
  font-size: 1.5rem;
}
.o-modal__close {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.o-modal__close-icon {
  max-width: 100%;
}
.o-modal__body {
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-bottom: 1px solid #E9ECEF;
}
.o-modal__footer {
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.o-tab__buttons {
  overflow: hidden;
  gap: 0.3125rem;
}
.o-tab__button {
  display: inline-block;
  margin-bottom: 0.3125rem;
}
.o-tab__button:hover {
  background: rgb(8.5714285714, 15, 36.4285714286);
}
.o-tab__content {
  display: none;
  padding: 1.5625rem 0.9375rem;
  border: 1px solid rgba(0, 0, 0, 0.2509803922);
  border-radius: 5px;
}
.o-tab__title {
  margin-bottom: 0.3125rem;
  color: #1C3177;
  font-size: 1.25rem;
  line-height: 1;
}
.o-tab .active {
  background: rgb(8.5714285714, 15, 36.4285714286);
}

/* 
-----------------------------------
Features and Guidelines
-----------------------------------

//colors
$white;
$black;
$shadow;
$base;
$primary-color;
$secondary-color;

//functions
property: toRem(10px);
font-size: to-clamp(30px, 80px);

// z index
$background;      // -1;
$base;            // 0;
$on-top;          // 1;
$overlay;         // 2;
$header;          // 5;
$modal;           // 6;

//border-radius
$border-radius--primary;      // set it
$border-radius--secondary;    // set it
$border-radius--xsmall;       // 2px;
$border-radius--small;        // 5px;
$border-radius--md;           // 10px;
$border-radius--lg;           // 15px;
$border-radius--xl;           // 20px;

//prefix
@include transition($time:0.3);
@include transform(rotate(20deg));

//media-query
@include media(tab){
}

Width:
xs: 576px;
sm: 768px;
md: 992px;
tab: 1025px;
lg: 1200px;

//layout
$desktop-viwe: 1320px;  //
$mobile-view: 767px;    //
o-container-fluid
o-container
o-text-center
o-pull-right


// fonts
o-text-editor
font-size--h1
font-size--h2
font-size--h3
font-size--p

@include font-size--h1;
@include font-size--h2;
@include font-size--h3;
@include font-size--p;

// spacing
@include section-padding;
@include section-padding-sm;

// buttons
btn 
btn-primary
btn-secondary
btn-line
btn-large

// animations
@include object-rotate($time:10s);

// flex
@include flex($gap:10px);
@include flex-center($height:200px, $width:200px);


// pseudo
@include gradient-overlay($color:#f00, $lighten:100%); //$lighten:100%
@include linear-gradient($color-top:#093379, $color-bottom:#00d4ff, $deg:350deg);
@include square-after(20px, 20px, $primary-color);
@include square-before(20px, 20px, $primary-color);
@include image-icons-before(
    $icon-path:'../images/icons/arrow-right.svg', 
    $size:14px, 
    $margin-right:5px,
    $top:2px 
  );

// shadows
$default-shadow;

// grid
@include grid($cols-lg:4, $cols-md:3, $cols-sm:2, $cols-xsm:1, $gap:20px, $gap-sm:15px);


//blocks
dark-mode


Examples:
.section{
  @include section-padding-sm;
  @include font-styles;
}
.wrapper{
  @include grid(4,3,2,1,20px,15px);
}
h1{
  @include font-size--h1;
  margin-bottom: 50px;
}
-----------------------------------
*//*# sourceMappingURL=style.css.map */